<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="main" class="container">
       <h2>Login Portal</h2>
       <form id="login-form" action="/home" method="post">
           <div class="form=group">
                <input class="form-control" type="text" id="username" name="username" placeholder="username" required/>
                <input class="form-control" type="password" id="password" name="password" placeholder="password" required/>
           </div>                   
           <button type="submit">Login</button>
       </form>
        <div class="alert alert-light" role="alert">{{data}}</div>
    </div>

    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
   
</body>
</html>
